@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-bg-primary-light: linear-gradient(to right, #ee0979, #ff6a00);
  --gradient-bg-artifacts-light: radial-gradient(
      at 78% 78%,
      hsla(202, 95%, 65%, 0.3) 0%,
      transparent 35%
    ),
    radial-gradient(at 60% 30%, hsla(358, 84%, 55%, 0.27) 0%, transparent 30%),
    radial-gradient(at 20% 23%, hsla(202, 95%, 65%, 0.3) 0%, transparent 20%),
    radial-gradient(at 20% 83%, hsla(358, 84%, 55%, 0.27) 0%, transparent 20%);
  --dark-water: radial-gradient(
      at 44% 29%,
      hsla(202, 95%, 15%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(202, 95%, 15%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(202, 95%, 35%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(202, 95%, 15%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(202, 95%, 35%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(202, 95%, 15%, 1) 0px, transparent 50%);
  --overlay-shade: linear-gradient(
    230deg,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 100%
  );
  --gradient-bg-water-light: linear-gradient(
    25deg,
    hsl(202deg 92% 90%) 0%,
    hsl(202deg 92% 91%) 12%,
    hsl(202deg 92% 92%) 22%,
    hsl(202deg 92% 93%) 30%,
    hsl(202deg 92% 95%) 37%,
    hsl(202deg 92% 96%) 42%,
    hsl(202deg 92% 97%) 47%,
    hsl(203deg 92% 98%) 53%,
    hsl(203deg 92% 99%) 61%,
    hsl(0deg 0% 100%) 85%
  );
  --gradient-blur-primary-water: linear-gradient(
    90deg,
    #ee2b31,
    #ee2639,
    #ee1a50,
    #e4107b,
    #cf0daa,
    #9c0ab7,
    #51089d,
    #190685,
    #04156e,
    #03275c,
    #022e50,
    #02304b
  );
  --gradient-blur-primary-land: linear-gradient(
    90deg,
    #ee2b31,
    #ee272a,
    #ee201b,
    #ea200f,
    #d92b0c,
    #c53409,
    #b03b06,
    #9c3f04,
    #894002,
    #793f01,
    #6f3e00,
    #6b3d00
  );
  --gradient-blur-water: linear-gradient(
    90deg,
    #02304b,
    #023451,
    #033e61,
    #034d78,
    #046096,
    #0575b7,
    #058ad9,
    #069ff9,
    #24aafa,
    #3bb4fa,
    #4bbafb,
    #51bcfb
  );
  --gradient-blur-primary: linear-gradient(
    90deg,
    #ee2b31,
    #ee2d33,
    #ef3339,
    #ef3c42,
    #f0474d,
    #f15459,
    #f26065,
    #f36d72,
    #f4787c,
    #f48185,
    #f5878b,
    #f5898d
  );
  --gradient-blur-land: linear-gradient(
    90deg,
    #6b3d00,
    #704000,
    #7f4800,
    #945400,
    #af6300,
    #cc7400,
    #eb8600,
    #ff9509,
    #ffa024,
    #ffaa39,
    #ffb048,
    #ffb24d
  );
}

@layer utilities {
  .main-grid-columns {
    @apply grid grid-cols-[[full-start_content-start]_repeat(2,_[col-start]_minmax(min-content,_1fr)_[col-end])_[content-end_full-end]] px-4 
      sm:grid-cols-[[full-start_content-start]_repeat(3,_[col-start]_minmax(min-content,_1fr)_[col-end])_[content-end_full-end]]
      md:grid-cols-[[full-start]_1.5rem_[content-start]_repeat(8,_[col-start]_minmax(min-content,_1fr)_[col-end])_[content-end]_1.5rem_[full-end]] md:px-0
      lg:grid-cols-[[full-start]_2.25rem_[content-start]_repeat(8,_[col-start]_minmax(min-content,_1fr)_[col-end])_[content-end]_2.25rem_[full-end]]
      xl:grid-cols-[[full-start]_3rem_[content-start]_repeat(8,_[col-start]_minmax(min-content,_1fr)_[col-end])_[content-end]_3rem_[full-end]]
      2xl:grid-cols-[[full-start]_minmax(3.5rem,_1fr)_[content-start]_repeat(8,_[col-start]_minmax(min-content,_9.375rem)_[col-end])_[content-end]_minmax(3.5rem,_1fr)_[full-end]]
      4xl:grid-cols-[[full-start]_minmax(3.5rem,_1fr)_[content-start]_repeat(8,_[col-start]_minmax(min-content,_10.3125rem)_[col-end])_[content-end]_minmax(3.5rem,_1fr)_[full-end]];
  }

  .trim-bottom {
    @apply -mb-20 2xl:-mb-24 4xl:-mb-36;
  }

  .trim-top {
    @apply -mt-20 2xl:-mt-24 4xl:-mt-36;
  }

  .trim-both {
    @apply -my-20 -mb-20 2xl:-my-24 4xl:-my-36;
  }
}

/* mapbox map resets */
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

/* Mapbox Marker */
.marker {
  @apply relative h-12 w-12
  before:absolute before:bottom-1/2 before:left-[calc(50%-2px)] before:block before:h-1/2 before:w-[4px] before:rounded-full  before:bg-primary after:absolute after:bottom-full after:block  after:h-12 after:w-12
  after:rounded-full after:border-4 after:border-primary after:bg-[image:url('/assets/svg/jetski.svg')] after:bg-contain after:bg-center after:bg-no-repeat after:content-[""];
}

/* loaded animation keyframes */

@keyframes lineOneScale {
  0% {
    scale: 0% 100%;
  }
  50% {
    scale: 100% 100%;
  }
  100% {
    scale: 100% 100%;
  }
}

@keyframes lineTwoScale {
  0% {
    scale: 0% 100%;
  }
  25% {
    scale: 0% 100%;
  }
  60% {
    scale: 100% 100%;
  }
  100% {
    scale: 100% 100%;
  }
}

@keyframes lineThreeScale {
  0% {
    scale: 0% 100%;
  }
  50% {
    scale: 0% 100%;
  }
  70% {
    scale: 100% 100%;
  }
  100% {
    scale: 100% 100%;
  }
}
